body {
    background-color: #0f000f;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

h1, h3, p {
    color: white;
}

ul {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #220022;
}

li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
    color: #ff8fff;
    text-decoration: none;
}

.active {
    background-color: #690069;
}

ul li a:hover {
    background-color: #450045;
}

.big-container {
    display: block;
    margin: auto;
    max-width: 1250px;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.img-col {
    flex: 50%;
    max-width: 50%;
    padding: 0, 4px;
}

.img-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.container {
    display: flex;
}

.columns {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    flex-direction: row;
}

.coll, .colr, .cole {
    flex: 50%;
    width: 100%;
}

.coll {
    flex-direction: column;
    flex-basis: 150%;
}

.colr {
    text-align: right;
}

.coll li {
    margin-left: 25px;
    list-style-type: disc;
    list-style-position: outside;
    text-indent: -1.33em;
    background-color: #0f000f;
    color: white;
    width: 100%;
}

.contacts li {
    float: none;
    list-style-type: none;
    padding-block: 15px;
}

.contacts li a {
    display: block;
    padding: 0;
    text-align: center;
    text-decoration: none;
}

.reel {
    margin-top: 64px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.reel iframe {
    border: 0;
    border-radius: 15px;
    position: absolute;
    top: -32px;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.prow {
    display: flex;
}

.pcol {
    padding: 32px;
    flex: 50%;
}

.pcolTHICC {
    padding: 32px;
    flex: 75%;
}

.pcolTHIN {
    padding: 32px;
    flex: 25%;
}

.pcol img {
    border: 0;
    border-radius: 15px;
    width: 100%;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.comic-container {
    position: relative;
    margin: auto;
}

.comic-image {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    vertical-align: center;
    margin-top: -22px;
    padding: 16px;
    color: #ff8fff;
    background-color: rgba(69, 0, 69, 0.4);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(69, 0, 69, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #450045;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #690069;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.cv {
    text-align: center;
    width: 100%;
    height: 100vh;
}

.pcol .oeis {
    border: 0;
    border-radius: 15px;
    width: 100%;
    height: 300px;
}

.tags {
    display: inline-flex;
}

.tag {
    padding-inline: 10px;
    
    margin: 5px;
    border-radius: 15px;

    white-space: nowrap;
}

.artstation {
    border: 0px;
    border-radius: 15px;
    width: 100%;
    min-height: 500px;
}